/* Faq 1 ---------------------------------- */ 
.faq-area-1 {
    position: relative;
    .faq-bg-img-1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        display: inline-block;
        height: 100%;
        img {
            object-fit: cover;
        }
        @include lg {
            width: 40%;
        }
        @include md {
            width: 100%;
            position: relative;
            height: 500px;
            top: -80px;
        }
    }
}
.faq-content-wrap {
    padding: 0 108px;
    .sec-title {
        font-size: 40px;
        line-height: 57px;
    }
    @include xl {
        padding: 0 68px;
    }
    @include md {
        padding: 0 50px;
        .sec-title {
            font-size: 32px;
            line-height: normal;
        }
    }
    @include xs {
        padding: 0 15px;
    }
    @include vxs {
        .sec-title {
            font-size: 28px;
        }
    }
}
.accordion-card {
    transition: 0.4s ease-in-out;
    overflow: hidden;
    background: $white-color;
    border-radius: 15px;
    margin-bottom: 20px;
    .accordion-button {
        font-size: 18px;
        font-weight: 700;
        font-family: $title-font;
        color: $title-color;
        border: 0;
        background: $white-color;
        padding: 0px 30px 0px 30px;
        min-height: 75px;
        gap: 10px;
        margin-bottom: 0;
        text-align: left;
        transition: 0.3s;
        position: relative;
        &:after {
            content: "\f067";
            height: 30px;
            width: 30px;
            border-radius: 50%;
            line-height: 30px;
            background: $theme-color;
            border: 0;
            font-family: $icon-font;
            color: $white-color;
            font-weight: 900;
            font-size: 16px;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 20px;
            right: 30px;
            transition: 0.3s ease-in-out;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:not(.collapsed) {
            background: $theme-color;
            color: $white-color;
            &:after {
                content: '\f068';
                transform: rotate(0);
                background: $white-color;
                color: $theme-color;
            }
        }
    }
    .accordion-collapse {
        border: none;
    }
    .accordion-body {
        border-radius: 0;
        background-color: transparent;
        border: none;
        padding: 30px;
        margin-top: -0.5em;
        p {
            margin-bottom: -0.3em;
            font-weight: 400;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

/* Faq 2 ---------------------------------- */ 
.faq-area-2 {
    margin-top: 50px;
    @include lg {
        margin-top: 0;
    }
}
.faq-content-wrap2 {
    position: relative;
    .contact-form-wrap {
        position: absolute;
        top: -50px;
        right: 0;
        max-width: 545px;
        background: $white-color;
        border-radius: 20px;
        overflow: hidden;
        .title-area {
            background: $theme-color;
            padding: 43px 45px 22px;
            margin-bottom: 0;
            .sec-title {
                font-size: 36px;
                font-weight: 600;
                margin-bottom: 16px;
            }
        }
        .contact-form {
            padding: 50px 40px;
        }
    }
    textarea.form-control, textarea {
        min-height: 120px;
    }
    @include lg {
        .contact-form-wrap {
            position: initial;
            max-width: none;
            margin-top: 60px;
        }
    }
    @include sm {
        .contact-form-wrap .title-area .sec-title {
            font-size: 30px;
        }
    }
    @include xs {
        .contact-form-wrap .contact-form {
            padding: 40px 30px;
        }
    }
} 
.accordion-area.style2 {
    .accordion-card {
        border-radius: 0;
        background: transparent;  
        .accordion-body {
            background: rgba(100,190,97,.2);
            p {
                color: $white-color;
            }
        }
        .accordion-button {
            background: transparent;
            color: $white-color;
            border: 1px dashed $white-color;
            i {
                color: $theme-color;
            }
            &:not(.collapsed) {
                background: $theme-color;
                border-color: $theme-color;
                i {
                    color: $white-color;
                }
            }
        }
    }
}